# BLU01 - Exercises Notebook

**Important Note**

Attention Windows users: The grader will run on Linux, and using power shell statements will not work.

In [26]:
import chardet
import hashlib # for grading purposes
import math
import numpy as np
import csv
import pandas as pd
import random

## Q1: Use a shell command to count lines

In [27]:
# Count the total number of lines of files data/exercises/python_and_open_source.txt and data/exercises/finance.txt
# and store the result in variable count_total.  
# There is more than one way to do this. Hint: concatenate both files.
!cat data/exercises/python_and_open_source.txt data/exercises/finance.txt > conc.txt
count_total = ! wc -l < conc.txt
count_total=int(count_total[0])

In [28]:
expected_hash = '670671cd97404156226e507973f2ab8330d3022ca96e0c93bdbdb320c41adcaf'
assert hashlib.sha256(str(count_total).encode()).hexdigest() == expected_hash, "count_total is wrong"

In [29]:
count_total/3

9.0

Now store in 2 variables the first third and the last third of the lines existent in file data/exercises/finance.txt.

In [30]:
# NOT GRADED optional exercise!!
# Add the first third and the last third of the lines to the variables first_third and last_third. 
# Make it work to any files using count_total_finance / 3 for instance in the bash commands

count_total_finance = ! cat conc.txt
count_total = count_total/3

first_third = ! head -8 conc.txt
last_third = !tail -5 conc.txt

In [31]:
first_third[-1][0]

's'

In [32]:
last_third[0][0]

'm'

In [33]:
# Test the first_third and last_third exercise by running the following (ungraded) asserts.
assert first_third[-1][0] == 's'
assert last_third[0][0] == 'm'

## Q2: Read a file with specific delimiter

Read file **data/exercises/microsoft_info.csv** into a pandas DataFrame. This file contains information about the company Microsoft including the country the headquarters is located, the website link but also financial information.

First, you should preview the file using a shell command in order to find out the used delimiter, and other properties of this file.

Then, you should use function read_csv to read the data into a DataFrame. The resulting DataFrame should have the first column as index.

In [34]:
! cat data/exercises/microsoft_info.csv

Trailing peg ratio,2.131

In [37]:
# Use a shell command to preview the data
#! cat data/exercises/microsoft_info.csv

# Use function read_csv to read the data into a DataFrame
df2 = pd.read_csv('data/exercises/microsoft_info.csv',index_col=0)

df2

                                                        Value
Key
Zip                                                98052-6399
Sector                                             Technology
Full time employees                                     221 K
City                                                  Redmond
Phone                                            425 882 8080
...                                                       ...
Day high                                              282.435
Regular market price                                  277.750
Pre market price                                      278.180
Logo_url              https://logo.clearbit.com/microsoft.com
Trailing peg ratio                                      2.131

[123 rows x 1 columns]

In [38]:
assert df2.loc['City', 'Value'] == 'Redmond', "df2 data is wrong, the city of the headquarters is wrong."
assert set(df2.columns) == {'Value'}, "df2 data is wrong, the columns do not match what is expected."
assert len(df2) == 123, "df2 data is wrong, the length is different than expected."
assert df2.index[34] == 'Total debt', "df2 data is wrong, the positions are wrong."

expected_hash = '99a52df3ff3d499488e2fa28150c4106a2cb5e928891a830a9aa3922b2d32160'
assert hashlib.sha256(df2.index.name.encode()).hexdigest() == expected_hash

## Q3: Read a csv file with problems

Read file **data/exercises/microsoft_info_w_problems.csv** using function `read_csv`. Pay attention to the following:
* use the first column as index
* there are some inputs in the file that should be interpreted as NaN, make sure you select the right one when reading the file!

In [39]:
# Read file data/exercises/microsoft_info_w_problems.csv with read_csv
df3 = pd.read_csv('data/exercises/microsoft_info_w_problems.csv',index_col=0,na_values='no-data')
df3

                             Value
Key
Zip                     98052-6399
Sector                  Technology
Full time employees          221 K
City                       Redmond
Phone                 425 882 8080
...                            ...
Day high                   282.435
Regular market price       277.750
Pre market price           278.180
Logo_url                       NaN
Trailing peg ratio           2.131

[123 rows x 1 columns]

In [40]:
assert np.isnan(df3.loc['Logo_url', 'Value']), "df3 data is wrong, there seems to be existing NaNs."
assert df3.loc['Full time employees', 'Value'] == '221 K', "df3  data is wrong, the total amount of full time employees can't be found."
assert df3.iloc[6]['Value'] == 'United States', "df3 data is wrong, the positions of the object are wrong."

expected_hash = '99a52df3ff3d499488e2fa28150c4106a2cb5e928891a830a9aa3922b2d32160'
assert hashlib.sha256(df3.index.name.encode()).hexdigest() == expected_hash

## Q4: Repair a csv file after importing
Read a new file **data/exercises/countries_gdp.csv** using function `csv.reader()` which includes information about the GDP of several countries from 2000 Q1 until 2022 Q3. The GDP stands for "_Gross Domestic Product" and is "the standard measure of the value added created through the production of goods and services in a country during a certain period_" (Source: Wikipedia). Be sure you don't miss any lines with relevant information! 

* use csv module to import everything to a list of lists
* create a df with information from the first four columns (countries)
* format the columns with the right type (don't forget to change the date from a string)
* set the index of the df to the `date`

In [41]:
#!cat 'data/exercises/microsoft_info_w_problems.csv'
import os

def filepath(filename):
    return os.path.join('data', 'exercises', filename)

In [42]:
# Read file data/exercises/microsoft_info_w_problems.csv using csv.reader() and add result to
f = open(filepath('countries_gdp.csv'), 'r' )


n_elements = 5

csv_list = list(csv.reader(f))
csv_list = [i[:n_elements] for i in csv_list]
# create a dataframe using the line list with only 4 columns (countries)
df=pd.DataFrame(csv_list[1:], columns=csv_list[0] )

# replace empty values with nan (np.nan)
df_=df.replace('' , np.nan ).copy()


# set types per dataframe column, including the date (always use float64 when floats are needed)
# YOUR CODE HERE

df_['date'] = pd.to_datetime(df['date'])

df_['France_GDP'] = df_['France_GDP'].astype('float64')
df_['Germany_GDP'] = df_['Germany_GDP'].astype('float64')
df_['Italy_GDP'] = df_['Italy_GDP'].astype('float64')

# set a new index to the dataframe
f.close()
df4=df_.set_index('date')

In [43]:
assert np.isnan(df4.loc['2022-04-01', 'Netherlands_GDP']), "df4 content is wrong"
assert df4.loc['2001-01-01', 'France_GDP'] == 380.839, "df4 content is wrong"

mean_germany_gdp = df4['Germany_GDP'].mean()
assert math.isclose(689.10, mean_germany_gdp, rel_tol=1e-3), "df4 content is wrong"

assert df4['Italy_GDP'].dtype == np.float64, "df4 types are wrong"
assert df4.index.dtype == np.dtype('<M8[ns]'), "df4 types are wrong"

expected_hash = '0e87632cd46bd4907c516317eb6d81fe0f921a23c7643018f21292894b470681'
assert hashlib.sha256(df4.index.name.encode()).hexdigest() == expected_hash

## Q5: Read a JSON file

Read file **data/exercises/portugal_production_of_electricity_gwh.json**.

In [60]:
! cat data/exercises/portugal_production_of_electricity_gwh.json

{"schema":{"fields":[{"name":"index","type":"integer"},{"name":"Year","type":"integer"},{"name":"Total","type":"integer"},{"name":"Total renewables","type":"integer"},{"name":"Hydropower > 10MW","type":"integer"},{"name":"Hydropower < 10MW","type":"integer"},{"name":"Biomass","type":"integer"},{"name":"Windpower","type":"integer"},{"name":"Geothermal power","type":"integer"},{"name":"Photovoltaic","type":"integer"}],"primaryKey":["index"],"pandas_version":"0.20.0"},"data":[{"index":0,"Year":1995,"Total":33264,"Total renewables":9501,"Hydropower > 10MW":7962,"Hydropower < 10MW":492,"Biomass":988,"Windpower":16,"Geothermal power":42,"Photovoltaic":1},{"index":1,"Year":1996,"Total":34520,"Total renewables":15895,"Hydropower > 10MW":14007,"Hydropower < 10MW":658,"Biomass":959,"Windpower":21,"Geothermal power":49,"Photovoltaic":1},{"index":2,"Year":1997,"Total":34207,"Total renewables":14301,"Hydropower > 10MW":12537,"Hydropower < 10MW":638,"Biomass":1036,"Windpower":38,"Geothermal power":51,"Photovoltaic":1},{"index":3,"Year":1998,"Total":38984,"Total renewables":14224,"Hydropower > 10MW":12488,"Hydropower < 10MW":566,"Biomass":1022,"Windpower":89,"Geothermal power":58,"Photovoltaic":1},{"index":4,"Year":1999,"Total":43287,"Total renewables":8915,"Hydropower > 10MW":7042,"Hydropower < 10MW":589,"Biomass":1081,"Windpower":122,"Geothermal power":80,"Photovoltaic":1},{"index":5,"Year":2000,"Total":43764,"Total renewables":13260,"Hydropower > 10MW":11040,"Hydropower < 10MW":675,"Biomass":1296,"Windpower":168,"Geothermal power":80,"Photovoltaic":1},{"index":6,"Year":2001,"Total":46509,"Total renewables":16083,"Hydropower > 10MW":13605,"Hydropower < 10MW":770,"Biomass":1345,"Windpower":256,"Geothermal power":105,"Photovoltaic":2},{"index":7,"Year":2002,"Total":46107,"Total renewables":10190,"Hydropower > 10MW":7551,"Hydropower < 10MW":706,"Biomass":1473,"Windpower":362,"Geothermal power":96,"Photovoltaic":2},{"index":8,"Year":2003,"Total":46852,"Total renewables":18037,"Hydropower > 10MW":15163,"Hydropower < 10MW":891,"Biomass":1394,"Windpower":496,"Geothermal power":90,"Photovoltaic":3},{"index":9,"Year":2004,"Total":45105,"Total renewables":12597,"Hydropower > 10MW":9570,"Hydropower < 10MW":577,"Biomass":1547,"Windpower":816,"Geothermal power":84,"Photovoltaic":3},{"index":10,"Year":2005,"Total":46575,"Total renewables":8616,"Hydropower > 10MW":4737,"Hydropower < 10MW":381,"Biomass":1651,"Windpower":1773,"Geothermal power":71,"Photovoltaic":3},{"index":11,"Year":2006,"Total":49041,"Total renewables":16187,"Hydropower > 10MW":10633,"Hydropower < 10MW":834,"Biomass":1704,"Windpower":2926,"Geothermal power":85,"Photovoltaic":5},{"index":12,"Year":2007,"Total":47253,"Total renewables":16593,"Hydropower > 10MW":9927,"Hydropower < 10MW":522,"Biomass":1882,"Windpower":4037,"Geothermal power":201,"Photovoltaic":24},{"index":13,"Year":2008,"Total":45969,"Total renewables":15140,"Hydropower > 10MW":6781,"Hydropower < 10MW":517,"Biomass":1852,"Windpower":5757,"Geothermal power":192,"Photovoltaic":41},{"index":14,"Year":2009,"Total":50207,"Total renewables":19017,"Hydropower > 10MW":8108,"Hydropower < 10MW":901,"Biomass":2087,"Windpower":7577,"Geothermal power":184,"Photovoltaic":160},{"index":15,"Year":2010,"Total":54093,"Total renewables":28755,"Hydropower > 10MW":15459,"Hydropower < 10MW":1088,"Biomass":2614,"Windpower":9182,"Geothermal power":197,"Photovoltaic":215},{"index":16,"Year":2011,"Total":52465,"Total renewables":24691,"Hydropower > 10MW":11294,"Hydropower < 10MW":820,"Biomass":2923,"Windpower":9162,"Geothermal power":210,"Photovoltaic":282},{"index":17,"Year":2012,"Total":46614,"Total renewables":20410,"Hydropower > 10MW":6093,"Hydropower < 10MW":567,"Biomass":2951,"Windpower":10260,"Geothermal power":146,"Photovoltaic":393},{"index":18,"Year":2013,"Total":51673,"Total renewables":30610,"Hydropower > 10MW":13701,"Hydropower < 10MW":1167,"Biomass":3051,"Windpower":12015,"Geothermal power":197,"Photovoltaic":479},{"index":19,"Year":2014,"Total":52802,"Total renewables":32405,"Hydropower > 10MW":15071,"Hydropower < 10MW":1341,"Biomass":3049,"Windpower":12111,"Geothermal power":205,"Photovoltaic":627},{"index":20,"Year":2015,"Total":52423,"Total renewables":25514,"Hydropower > 10MW":9048,"Hydropower < 10MW":752,"Biomass":3104,"Windpower":11608,"Geothermal power":204,"Photovoltaic":799},{"index":21,"Year":2016,"Total":60279,"Total renewables":33448,"Hydropower > 10MW":15689,"Hydropower < 10MW":1221,"Biomass":3070,"Windpower":12474,"Geothermal power":172,"Photovoltaic":822},{"index":22,"Year":2017,"Total":59432,"Total renewables":24309,"Hydropower > 10MW":7009,"Hydropower < 10MW":623,"Biomass":3220,"Windpower":12248,"Geothermal power":217,"Photovoltaic":992}]}

In [50]:
# split orientation doesn't match our json file
try:
    pd.read_json(os.path.join('data', 'exercises', 'portugal_production_of_electricity_gwh.json'))
except Exception as e:
    print("Sorry, split orientation doesn't work for this json file...", e)

Sorry, split orientation doesn't work for this json file... Mixing dicts with non-Series may lead to ambiguous ordering.

In [70]:
# Read file data/exercises/portugal_production_of_electricity_gwh.json with read_json

df5 = pd.read_json(os.path.join('data', 'exercises', 'portugal_production_of_electricity_gwh.json'),typ='frame',orient='table')

df5

,Year,Total,Total renewables,Hydropower > 10MW,Hydropower < 10MW,Biomass,Windpower,Geothermal power,Photovoltaic
0,1995,33264,9501,7962,492,988,16,42,1
1,1996,34520,15895,14007,658,959,21,49,1
2,1997,34207,14301,12537,638,1036,38,51,1
3,1998,38984,14224,12488,566,1022,89,58,1
4,1999,43287,8915,7042,589,1081,122,80,1
5,2000,43764,13260,11040,675,1296,168,80,1
6,2001,46509,16083,13605,770,1345,256,105,2
7,2002,46107,10190,7551,706,1473,362,96,2
8,2003,46852,18037,15163,891,1394,496,90,3
9,2004,45105,12597,9570,577,1547,816,84,3
10,2005,46575,8616,4737,381,1651,1773,71,3
11,2006,49041,16187,10633,834,1704,2926,85,5
12,2007,47253,16593,9927,522,1882,4037,201,24
13,2008,45969,15140,6781,517,1852,5757,192,41
14,2009,50207,19017,8108,901,2087,7577,184,160
15,2010,54093,28755,15459,1088,2614,9182,197,215
16,2011,52465,24691,11294,820,2923,9162,210,282
17,2012,46614,20410,6093,567,2951,10260,146,393
18,2013,51673,30610,13701,1167,3051,12015,197,479
19,2014,52802,32405,15071,1341,3049,12111,205,627
20,2015,52423,25514,9048,752,3104,11608,204,799
21,2016,60279,33448,15689,1221,3070,12474,172,822
22,2017,59432,24309,7009,623,3220,12248,217,992

In [71]:
assert len(df5) == 23
assert set(df5.columns) == {'Biomass', 'Geothermal power', 'Hydropower < 10MW', 'Hydropower > 10MW', 
                           'Photovoltaic', 'Total','Total renewables','Windpower','Year'}, "df5 columns are wrong"

expected_hash = '48beaa4bb16f0656bb4e4d3abb5da6ff6a50b52be037354f8c33455a7534102e'
assert hashlib.sha256(str(df5.loc[:,'Hydropower > 10MW'].sum()).encode()).hexdigest() == expected_hash, "df5 content is wrong"

## Q6: Read an Excel file

Read file **data/exercises/portugal_gas_emissions_per_year.xlsx** using function read_excel. Pay attention to the following:

* you should grab the table "Series" in sheet "metadata"
* use column 'Serie' as index
* make sure you keep only the rows and columns with data
* set the variable distinct_scales with the number of distinct scales found in the table

In [ ]:
# Read file data/exercises/portugal_gas_emissions_per_year.xlsx with read_excel
# df6 = read_excel(...)
# YOUR CODE HERE
raise NotImplementedError()

#distinct_scales = ...
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert distinct_scales == 2
assert isinstance(df6, pd.DataFrame)
expected_hash = '60c3ad36f77e7366103fe36a3f551a0cde7d64e26d3102ddb8b953d6208a6006'
assert hashlib.sha256(
        df6.loc[
            df6.index=="Nitrogen oxides", 
            "Measure Unit"][0].encode()
    ).hexdigest() == expected_hash, "df6 is wrong"

## Q7: Find the encoding of a file

Find the encoding used in file **data/exercises/cities.csv**, using the method that was shown in the Learning Units.

Then, read the data into a DataFrame, using the read_csv method and find the `City` characters that has distance equal to 2377.

In [ ]:
# Find the encoding of file data/exercises/cities.csv
# encoding = ...
# YOUR CODE HERE
raise NotImplementedError()
# Read the file into a DataFrame
# df7 = ...
# YOUR CODE HERE
raise NotImplementedError()

# Find the name of the city with distance = 7503
# city_found = .... (assign a string)
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert isinstance(df7, pd.DataFrame)

expected_hash_1 = '969aef39a1d4cb1c5928c774cd7a4e3ccfc064a18fbd43a70193a2631d8a122d'
assert hashlib.sha256(encoding.encode()).hexdigest() == expected_hash_1, "encoding is wrong"

expected_hash_2 = '8086d7adc029756c1b9094df64f6e79017dcc5a99c3c5e55b47beede11179a2b'
assert hashlib.sha256(city_found.encode()).hexdigest() == expected_hash_2, "city_found is wrong"

## Q8: Import a Random Sample of a Big File

Consider the file **data/exercises/world_percentage_of_literacy.tsv**. Let's imagine this file is really huge, with a lot of rows!  Read the file using a random sample of 10 rows. Count the actual lines with `wc`

In [ ]:
# Read file data/exercises/world_percentage_of_literacy.tsv with wc and save the number of lines
# in lines_in_file (as an integer), using 
# lines_in_file = ...
# Notice that the header is not a line..

# YOUR CODE HERE
raise NotImplementedError()

# make parameter rows_to_skip equal to the lines you want to skip loading 
# don't forget: 10 rows should be fetched
# rows_to_skip = ...
# YOUR CODE HERE
raise NotImplementedError()
# Create a df8 dataframe with the sampled values
# don't forget: you want to keep the header plus 10 rows in the new dataframe.
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# getting remaining list of countries, removing rows_to_skip from the file
df_helper = pd.read_csv( 
    'data/exercises/world_percentage_of_literacy.tsv', 
    sep='\t',
    header=0 
)

total_indexes = list(df_helper.index)
for s in rows_to_skip:
    total_indexes.remove(s-1)

expected_hash = '7559ca4a957c8c82ba04781cd66a68d6022229fca0e8e88d8e487c96ee4446d0'
assert hashlib.sha256(str(lines_in_file).encode()).hexdigest() == expected_hash, "lines_in_file are wrong"
assert isinstance(df8, pd.DataFrame)
assert list(df8['Country'])==list(df_helper.iloc[total_indexes]['Country'])
assert df8.shape[0]==10, "df8 size is wrong"

expected_hash = '4a44dc15364204a80fe80e9039455cc1608281820fe2b24f1e5233ade6af1dd5'
assert  hashlib.sha256(str(df8.shape[0]).encode()).hexdigest() == expected_hash

## Q9: Loading a Big File

Read file **data/exercises/world_percentage_of_literacy.tsv** using chunks keep only the columns `Country` and `Gender difference`.
Note that:
* file should be read by chunks of 20 countries
* the missing values for `Gender difference` should be removed (filtered in each chunk)
* the `Gender difference` should be converted to type float (in each chunk)
* the index should be incremental starting from 0 (i.e, you don't need to read any column as the index)

At the end, calculate the average `Gender difference`

Tip: Be sure you investigate the data you are about to load before doing any code.

In [ ]:
# Read file data/exercises/world_percentage_of_literacy.tsv
# the chunks should be appended in a list called chunk_arr
# YOUR CODE HERE
raise NotImplementedError()

# df9 should be the final dataframe with concatenated chunks
# Resulting average should go on lit_avg variable
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
expected_hash = 'cc63c8d6f0f9a8260d40b5c9a62d4fce5b693bab5750c90fd1f038ff64e37d6d'
assert hashlib.sha256(str([len(c) for c in chunk_arr]).encode()).hexdigest() == expected_hash, "error on chunk_arr sizes, did you correctly remove the missing values?"

assert df9.loc[df9['Country']=='World', 'Gender difference'].values[0] == 7.3, "df9 data is wrong"
assert df9.dtypes['Country'] == object, "df9 structure is wrong"
assert df9.dtypes['Gender difference'] == float, "df9 structure is wrong" 

expected_hash = 'c4d7d45402099baaea8a079580a4ef950016ef7403178f72e64ceb3738e4471d'
assert hashlib.sha256(str(lit_avg).encode()).hexdigest() == expected_hash, "lit_avg is wrong"

## Q10: Calculate average values of `Literacy rate (all)` using chunks and avoiding a complete data frame in memory.

Using chunks, read file **data/exercises/world_percentage_of_literacy.tsv**, avoid incomplete rows within `Literacy rate (all)` and calculate the average of `Literacy rate (all)` without loading all data simultaneously. 

Use a similar approach of the previous question but don't create any dataframe neither any list with chunks; ***Hint: Use the average definition***

In [ ]:
# Read file data/exercises/world_percentage_of_literacy.tsv
# the final average should be in the variable final_avg
# You should increment 2 variables in each chunk and use them at the end to calculate final_avg. call them lit_a, lit_b
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert math.isclose(83.24370860927154, final_avg, rel_tol=1e-1), "final_avg is wrong"
assert lit_b==151 or lit_a==151, "lit_a or lit_b is wrong"
assert int(lit_b) == 12569 or int(lit_a)==12569, "lit_a or lit_b is wrong"