# BLU02 - Exercises Notebook

In [1]:
import hashlib # for grading

import os
import pandas as pd
import numpy as np
import datetime
from sklearn.model_selection import train_test_split
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, RobustScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

## 1 Read the Programs data (graded)

In this first exercise, we aim to create a single dataframe, combining all programs from all seasons.

With a caveat though: **we want to include seasons from the year 1950 onwards**.

In [2]:
folder_path = os.path.join('data', 'programs')
files = os.listdir(folder_path)

def getFiles (files):

    l=[]
    for s in files : 
        x,y =s.split('-')
        if int(x)>= 1950 :
            l.append(s)
    return l

def getSeasons (lis,folder_path):
    l=[]
    for s in lis : 

        df = pd.read_csv(os.path.join(folder_path,s)).copy()
        l.append(df)
               
    return l

In [3]:
def read_season(folder_path, file_name):
    path = os.path.join(folder_path, file_name)
    return pd.read_csv(path)

def read_programs(folder_path):
    files = os.listdir(folder_path)
    
    
    # Create a list with the name of all files containing programs from
    # 1950 inclusive and onwards (just the filename, no complete path.)
    files_from_1950 = getFiles(files)
    
    # YOUR CODE HERE
    #raise NotImplementedError()
    # Create a list with the dataframes
    seasons =getSeasons(files_from_1950,folder_path)
      
    # YOUR CODE HERE
    #raise NotImplementedError()
    # Use pd.concat to create a single dataframe.
    programs = pd.concat(seasons, axis=0, ignore_index=True)
    
    # YOUR CODE HERE
    #raise NotImplementedError()
    # Drop the column GUID.
    programs = programs.drop(columns='GUID')
    # YOUR CODE HERE
    #raise NotImplementedError()
    ## Remove Duplicated lines.
    # YOUR CODE HERE
    #raise NotImplementedError()
    programs = programs.drop_duplicates()
    
    # Set the index to be the column ProgramID
    # YOUR CODE HERE
    #raise NotImplementedError()
    programs = programs.set_index('ProgramID')
    
    return programs

programs = read_programs(os.path.join('data', 'programs'))

In [4]:
assert programs['Season'].min() == '1950-51'
assert programs['Season'].max() == '2016-17'
assert programs.index.name == 'ProgramID'
assert programs.shape == (7341, 2)

In [5]:
programs

                       Orchestra   Season
ProgramID
7462       New York Philharmonic  1992-93
7463       New York Philharmonic  1992-93
7464       New York Philharmonic  1992-93
7465       New York Philharmonic  1992-93
7466       New York Philharmonic  1992-93
...                          ...      ...
13426      New York Philharmonic  1967-68
13421      New York Philharmonic  1967-68
13434      New York Philharmonic  1967-68
13435      New York Philharmonic  1967-68
13422      New York Philharmonic  1967-68

[7341 rows x 2 columns]

## 2 Read the Concerts data (graded)

Although we list all transformations step-by-step for the sake of clarity, we expect you to use method chaining.

In [6]:
def make_concerts(file_path): 
    # Read concerts data and drop the GUID column.
    # concerts: pd.DataFrame = ...
    # YOUR CODE HERE
    concerts = pd.read_csv(file_path).copy()
    concerts = concerts.drop(columns='GUID')
    
    # Remember to_datetime? We need it here. We need to parse the columns Date and 
    # Time. Use pd.to_datetime(...).dt.date for the Date. 
    # then use the same logic to create the column Hour and Minute from Time column.
    # YOUR CODE HERE
    #raise NotImplementedError()
    ## Remove Duplicated lines.
    # YOUR CODE HERE
    concerts['Date']= pd.to_datetime(concerts['Date']).dt.date

    concerts['Hour']= pd.to_datetime(concerts['Time']).dt.hour
    concerts['Minute']= pd.to_datetime(concerts['Time']).dt.minute
    
    #concerts['Date']= pd.to_datetime(concerts['Date']).dt.date
    
    concerts=concerts.drop_duplicates()
    
    concerts=concerts.dropna(subset =['Time'])
    #raise NotImplementedError()
    ## Remove all lines with empty Time column. Then also drop the Time column.
    # YOUR CODE HERE
    #raise NotImplementedError()
    concerts= concerts.drop(columns='Time')
    return concerts

concerts = make_concerts(os.path.join('data','concerts.csv'))
concerts

,ProgramID,ConcertID,EventType,Location,Venue,Date,Hour,Minute
0,3853,0,Subscription Season,"Manhattan, NY",Apollo Rooms,1842-12-07,20.0,0.0
1,5178,0,Subscription Season,"Manhattan, NY",Apollo Rooms,1843-02-18,20.0,0.0
2,10785,0,Special,"Manhattan, NY",Apollo Rooms,1843-04-07,20.0,0.0
3,5887,0,Subscription Season,"Manhattan, NY",Apollo Rooms,1843-04-22,20.0,0.0
5,3368,0,Subscription Season,"Manhattan, NY",Apollo Rooms,1844-01-13,20.0,0.0
...,...,...,...,...,...,...,...,...
21564,10701,8,Special,"Manhattan, NY",Roxy Theatre,1951-05-15,12.0,40.0
21566,10703,8,Special,"Manhattan, NY",Roxy Theatre,1951-05-22,12.0,40.0
21589,10702,11,Special,"Manhattan, NY",Roxy Theatre,1951-05-18,12.0,40.0
21605,10700,15,Special,"Manhattan, NY",Roxy Theatre,1951-05-12,12.0,40.0
21606,10702,15,Special,"Manhattan, NY",Roxy Theatre,1951-05-19,12.0,40.0

In [7]:
assert concerts.shape == (20812, 8)
assert concerts.Date.min() == datetime.date(1842, 12, 7)
assert concerts.Date.max() == datetime.date(2017, 7, 7)
assert concerts.Date.max() == datetime.date(2017, 7, 7)
assert concerts['Hour'].mode().values[0] == 20
assert concerts['Minute'].mode().values[0] == 0
assert list(concerts.iloc[1537][['Hour', 'Minute']].values) == [20,30]
assert list(concerts.iloc[1201][['Hour', 'Minute']].values) == [20,15]
assert set(concerts.columns) == set([
    'ProgramID', 'ConcertID', 'EventType', 'Location', 'Venue', 'Date', 'Hour', 'Minute'
])

## 3 Combine Programs and Concerts data (graded)

Let's combine both dataframes into a single dataset, using an inner join.

In [8]:
# Remember that you want to join on the index of one of the dataframes.
# Join only the concerts with valid ProgramIDs

nyp = concerts.set_index('ProgramID').join(programs, how='inner').reset_index()
nyp

,ProgramID,ConcertID,EventType,Location,Venue,Date,Hour,Minute,Orchestra,Season
0,5,0,Subscription Season,"Manhattan, NY",Avery Fisher Hall,1983-09-14,20.0,0.0,New York Philharmonic,1983-84
1,7,0,Subscription Season,"Manhattan, NY",Avery Fisher Hall,1983-09-15,20.0,0.0,New York Philharmonic,1983-84
2,7,1,Subscription Season,"Manhattan, NY",Avery Fisher Hall,1983-09-16,14.0,0.0,New York Philharmonic,1983-84
3,7,2,Subscription Season,"Manhattan, NY",Avery Fisher Hall,1983-09-17,20.0,0.0,New York Philharmonic,1983-84
4,7,3,Subscription Season,"Manhattan, NY",Avery Fisher Hall,1983-09-20,19.0,30.0,New York Philharmonic,1983-84
...,...,...,...,...,...,...,...,...,...,...
12938,14191,0,NaN,"Manhattan, NY",David Geffen Hall,2016-12-11,15.0,0.0,NYP Presentation,2016-17
12939,14192,0,Chamber,"Manhattan, NY",Bruno Walter Auditorium,2017-01-15,15.0,0.0,Musicians from the New York Philharmonic,2016-17
12940,14193,0,Festival,"Manhattan, NY",St. Paul the Apostle,2017-02-03,19.0,30.0,NYP Presentation,2016-17
12941,14194,0,Chamber Concert (Private),"Manhattan, NY","Weill Music Room, Carnegie Hall",2017-03-13,20.0,45.0,Members of NY Philharmonic,2016-17
12942,14195,0,Chamber Concert (Private),"Manhattan, NY",The Stanley H. Kaplan Penthouse,2017-04-18,19.0,0.0,Members of NY Philharmonic,2016-17

In [9]:
assert nyp.shape == (12943, 10)
assert set(nyp.columns) == set([
    'ProgramID', 'ConcertID', 'EventType', 'Location', 'Venue',
    'Date', 'Hour', 'Minute', 'Orchestra', 'Season'
])

## 4 Read Works and Soloists data (graded)

We will read the two remaining pieces of data. 

Again, albeit the step-by-step description, we encourage you to use method chaining.

In [10]:
df_ = pd.read_csv('data/works.csv').copy()
df_ = df_[ (df_.isInterval == False) ]
df_

,GUID,ProgramID,WorkID,MovementID,ComposerName,WorkTitle,Movement,ConductorName,Interval,isInterval
0,38e072a7-8fc9-4f9a-8eac-3957905c0002,3853,52446,NaN,"Beethoven, Ludwig van","SYMPHONY NO. 5 IN C MINOR, OP.67",NaN,"Hill, Ureli Corelli",NaN,False
1,c7b2b95c-5e0b-431c-a340-5b37fc860b34,5178,52437,NaN,"Beethoven, Ludwig van","SYMPHONY NO. 3 IN E FLAT MAJOR, OP. 55 (EROICA)",NaN,"Hill, Ureli Corelli",NaN,False
2,894e1a52-1ae5-4fa7-aec0-b99997555a37,10785,52364,1.0,"Beethoven, Ludwig van","EGMONT, OP.84",Overture,"Hill, Ureli Corelli",NaN,False
3,34ec2c2b-3297-4716-9831-b538310462b7,5887,52434,NaN,"Beethoven, Ludwig van","SYMPHONY NO. 2 IN D MAJOR, OP.36",NaN,"Boucher, Alfred",NaN,False
4,610a4acc-94e4-4cd6-bdc1-8ad020edc7e9,305,52453,NaN,"Beethoven, Ludwig van","SYMPHONY NO. 7 IN A MAJOR, OP.92",NaN,"Hill, Ureli Corelli",NaN,False
...,...,...,...,...,...,...,...,...,...,...
82571,734c1116-0caf-4f8b-80d0-5e423cd1bcc6,9678,53976,47.0,"Handel, George Frideric",MESSIAH,Chorus: Worthy is the Lamb that was slain,"McGegan, Nicholas",NaN,False
82572,884c64d6-1768-4cf1-85f1-0ac2f79bbe5c,10608,53976,47.0,"Handel, George Frideric",MESSIAH,Chorus: Worthy is the Lamb that was slain,"Labadie, Bernard",NaN,False
82573,f549e93f-b35f-4824-b0d5-d543953535f8,9542,53976,51.0,"Handel, George Frideric",MESSIAH,Chorus: Amen,"Bicket, Harry",NaN,False
82574,734c1116-0caf-4f8b-80d0-5e423cd1bcc6,9678,53976,51.0,"Handel, George Frideric",MESSIAH,Chorus: Amen,"McGegan, Nicholas",NaN,False
82575,884c64d6-1768-4cf1-85f1-0ac2f79bbe5c,10608,53976,51.0,"Handel, George Frideric",MESSIAH,Chorus: Amen,"Labadie, Bernard",NaN,False

In [11]:
def read_works(file_path):
    # Read the works data.
    works = pd.read_csv(file_path).copy()
    

    works = works[ (works.isInterval == False) ]
    works = works[['ProgramID', 'WorkID', 'ComposerName', 'WorkTitle', 'Movement','ConductorName']]
    
    works=(works
               .drop_duplicates()
               .dropna(subset =['Movement']));
    
    
    
    # YOUR CODE HERE
    # Remove the Intervals (attention to the values in the isInterval column).
    # works: pd.DataFrame = ...
    # YOUR CODE HERE
    #raise NotImplementedError()
    # Select the columns ProgramID, WorkID, ComposerName, WorkTitle, Movement and ConductorName.
    # YOUR CODE HERE
    #raise NotImplementedError()
    ## Remove Duplicated lines.
    # YOUR CODE HERE
    #raise NotImplementedError()
    ## Remove all lines with empty Movement column.
    # YOUR CODE HERE
    #raise NotImplementedError()
    
    return works


def read_soloists(file_path):
    # Read the soloists data and drop GUID and MovementID Columns
    soloists = pd.read_csv(file_path).copy()
    soloists=(soloists.drop(columns=['GUID','MovementID'])
                       .drop_duplicates());
    
    
    ## Remove Duplicated lines.
    # YOUR CODE HERE
    #raise NotImplementedError()
    return soloists


works = read_works('data/works.csv')
works
soloists = read_soloists('data/soloists.csv')
soloists

,ProgramID,WorkID,SoloistName,SoloistInstrument,SoloistRole
0,2117,4452,"Timm, Henry C.",Piano,A
1,4331,51060,Arion Choral Society,Mens Chorus,S
2,5080,51057,Chorus,Boys Choir,S
3,11474,1587,"Essipoff, Annette",Piano,S
4,11600,53976,Oratorio Society of New York,Chorus,S
...,...,...,...,...,...
55534,10683,11754,"Ellis, Kenny",Special Guest,A
55546,12009,8293,"Keillor, Garrison",Vocalist,S
55548,12009,8293,"DiGiallonardo , Christine",Vocalist,S
55550,12009,8293,"Dworsky, Richard",Piano,S
55676,9830,53976,"Muckey, Matthew",Trumpet,A

In [12]:
assert works.shape == (24320, 6)
assert set(works.columns) == set([
    'ProgramID', 'WorkID', 'ComposerName', 'WorkTitle', 'Movement', 'ConductorName'
])

assert soloists.shape == (50292, 5)
assert set(soloists.columns) == set([
   'ProgramID', 'WorkID', 'SoloistName', 'SoloistInstrument', 'SoloistRole'
])

In [13]:
works

,ProgramID,WorkID,ComposerName,WorkTitle,Movement,ConductorName
2,10785,52364,"Beethoven, Ludwig van","EGMONT, OP.84",Overture,"Hill, Ureli Corelli"
16,2321,6709,"Weber, Carl Maria Von","FREISCHUTZ, DER",Overture,"Hill, Ureli Corelli"
23,10581,52437,"Beethoven, Ludwig van","SYMPHONY NO. 3 IN E FLAT MAJOR, OP. 55 (EROICA)",Marcia funebre: Adagio assai,"Macfarren, George Alexander; Loder, George"
54,6613,52374,"Cherubini, Luigi",LES DEUX JOURNEES,Overture,"Eisfeld, Theodore"
73,3679,3864,"Spohr, Louis","SYMPHONY NO. 4, OP. 86 (DIE WEIHE DER TONE)",Larghetto - Allegretto (Finale),"Eisfeld, Theodore"
...,...,...,...,...,...,...
82571,9678,53976,"Handel, George Frideric",MESSIAH,Chorus: Worthy is the Lamb that was slain,"McGegan, Nicholas"
82572,10608,53976,"Handel, George Frideric",MESSIAH,Chorus: Worthy is the Lamb that was slain,"Labadie, Bernard"
82573,9542,53976,"Handel, George Frideric",MESSIAH,Chorus: Amen,"Bicket, Harry"
82574,9678,53976,"Handel, George Frideric",MESSIAH,Chorus: Amen,"McGegan, Nicholas"
82575,10608,53976,"Handel, George Frideric",MESSIAH,Chorus: Amen,"Labadie, Bernard"

In [14]:
soloists

,ProgramID,WorkID,SoloistName,SoloistInstrument,SoloistRole
0,2117,4452,"Timm, Henry C.",Piano,A
1,4331,51060,Arion Choral Society,Mens Chorus,S
2,5080,51057,Chorus,Boys Choir,S
3,11474,1587,"Essipoff, Annette",Piano,S
4,11600,53976,Oratorio Society of New York,Chorus,S
...,...,...,...,...,...
55534,10683,11754,"Ellis, Kenny",Special Guest,A
55546,12009,8293,"Keillor, Garrison",Vocalist,S
55548,12009,8293,"DiGiallonardo , Christine",Vocalist,S
55550,12009,8293,"Dworsky, Richard",Piano,S
55676,9830,53976,"Muckey, Matthew",Trumpet,A

## 5 Combine Works and Soloists (graded)

Like we did for Programs and Concerts, now we combine Works and Soloists.

In [15]:
# Combine both dataframes, again using an inner type of join. An work is identified by the pair
# ProgramId, WorkID
# works_and_soloists : pd.DataFrame = ....
# YOUR CODE HEREworks
#works_and_soloists = soloists.set_index('WorkID').join(works, how='inner',on= 'WorkID')

#works_and_soloists = concerts.join(programs, how='inner').reset_index()
#nyp = concerts.set_index('ProgramID').join(programs, how='inner').reset_index()
works_and_soloists = works.merge(soloists, how='inner')

works_and_soloists

,ProgramID,WorkID,ComposerName,WorkTitle,Movement,ConductorName,SoloistName,SoloistInstrument,SoloistRole
0,2014,8955,"Mozart, Wolfgang Amadeus","MAGIC FLUTE, THE, K.620",Overture,"Eisfeld, Theodore","Stigelli, Giorgio",Tenor,S
1,2014,8955,"Mozart, Wolfgang Amadeus","MAGIC FLUTE, THE, K.620","""Dies Bildnis ist bezaubernd,"" Tamino, Act I, ...","Eisfeld, Theodore","Stigelli, Giorgio",Tenor,S
2,6383,52364,"Beethoven, Ludwig van","EGMONT, OP.84",Overture,"Thomas, Theodore","Pappenheim, Eugenie",Soprano,S
3,6383,52364,"Beethoven, Ludwig van","EGMONT, OP.84","""Die Trommel geruhret,"" Lied","Thomas, Theodore","Pappenheim, Eugenie",Soprano,S
4,6383,52364,"Beethoven, Ludwig van","EGMONT, OP.84",Entr'acte II: Larghetto,"Thomas, Theodore","Pappenheim, Eugenie",Soprano,S
...,...,...,...,...,...,...,...,...,...
23573,11314,4585,"Loewe, Frederick",PAINT YOUR WAGON,I'm On My Way (Reprise),"Allers, Franz",Chorus,Chorus,S
23574,11314,4585,"Loewe, Frederick",PAINT YOUR WAGON,I'm On My Way (Reprise),"Allers, Franz","Hurley, Laurel",Soprano,S
23575,11314,4585,"Loewe, Frederick",PAINT YOUR WAGON,I'm On My Way (Reprise),"Allers, Franz","Porretta, Frank",Tenor,S
23576,11314,4585,"Loewe, Frederick",PAINT YOUR WAGON,I'm On My Way (Reprise),"Allers, Franz","Singher, Martial",Baritone,S
23577,11448,5036,"Berlin, Irving",CAREFREE,"""Change Partners""","Henderson, Skitch","Holmes, Jerry",Baritone,S

In [16]:
assert works_and_soloists.shape == (23578, 9)
assert set(works_and_soloists.columns) == set(
    [
        'ProgramID', 'WorkID', 'ComposerName', 'WorkTitle', 'Movement',
        'ConductorName', 'SoloistName', 'SoloistInstrument', 'SoloistRole'
    ]
)

## 6 Combine everything (graded)

The final goal here is to create a single dataframe.

In [17]:
works_and_soloists

,ProgramID,WorkID,ComposerName,WorkTitle,Movement,ConductorName,SoloistName,SoloistInstrument,SoloistRole
0,2014,8955,"Mozart, Wolfgang Amadeus","MAGIC FLUTE, THE, K.620",Overture,"Eisfeld, Theodore","Stigelli, Giorgio",Tenor,S
1,2014,8955,"Mozart, Wolfgang Amadeus","MAGIC FLUTE, THE, K.620","""Dies Bildnis ist bezaubernd,"" Tamino, Act I, ...","Eisfeld, Theodore","Stigelli, Giorgio",Tenor,S
2,6383,52364,"Beethoven, Ludwig van","EGMONT, OP.84",Overture,"Thomas, Theodore","Pappenheim, Eugenie",Soprano,S
3,6383,52364,"Beethoven, Ludwig van","EGMONT, OP.84","""Die Trommel geruhret,"" Lied","Thomas, Theodore","Pappenheim, Eugenie",Soprano,S
4,6383,52364,"Beethoven, Ludwig van","EGMONT, OP.84",Entr'acte II: Larghetto,"Thomas, Theodore","Pappenheim, Eugenie",Soprano,S
...,...,...,...,...,...,...,...,...,...
23573,11314,4585,"Loewe, Frederick",PAINT YOUR WAGON,I'm On My Way (Reprise),"Allers, Franz",Chorus,Chorus,S
23574,11314,4585,"Loewe, Frederick",PAINT YOUR WAGON,I'm On My Way (Reprise),"Allers, Franz","Hurley, Laurel",Soprano,S
23575,11314,4585,"Loewe, Frederick",PAINT YOUR WAGON,I'm On My Way (Reprise),"Allers, Franz","Porretta, Frank",Tenor,S
23576,11314,4585,"Loewe, Frederick",PAINT YOUR WAGON,I'm On My Way (Reprise),"Allers, Franz","Singher, Martial",Baritone,S
23577,11448,5036,"Berlin, Irving",CAREFREE,"""Change Partners""","Henderson, Skitch","Holmes, Jerry",Baritone,S

In [18]:
nyp

,ProgramID,ConcertID,EventType,Location,Venue,Date,Hour,Minute,Orchestra,Season
0,5,0,Subscription Season,"Manhattan, NY",Avery Fisher Hall,1983-09-14,20.0,0.0,New York Philharmonic,1983-84
1,7,0,Subscription Season,"Manhattan, NY",Avery Fisher Hall,1983-09-15,20.0,0.0,New York Philharmonic,1983-84
2,7,1,Subscription Season,"Manhattan, NY",Avery Fisher Hall,1983-09-16,14.0,0.0,New York Philharmonic,1983-84
3,7,2,Subscription Season,"Manhattan, NY",Avery Fisher Hall,1983-09-17,20.0,0.0,New York Philharmonic,1983-84
4,7,3,Subscription Season,"Manhattan, NY",Avery Fisher Hall,1983-09-20,19.0,30.0,New York Philharmonic,1983-84
...,...,...,...,...,...,...,...,...,...,...
12938,14191,0,NaN,"Manhattan, NY",David Geffen Hall,2016-12-11,15.0,0.0,NYP Presentation,2016-17
12939,14192,0,Chamber,"Manhattan, NY",Bruno Walter Auditorium,2017-01-15,15.0,0.0,Musicians from the New York Philharmonic,2016-17
12940,14193,0,Festival,"Manhattan, NY",St. Paul the Apostle,2017-02-03,19.0,30.0,NYP Presentation,2016-17
12941,14194,0,Chamber Concert (Private),"Manhattan, NY","Weill Music Room, Carnegie Hall",2017-03-13,20.0,45.0,Members of NY Philharmonic,2016-17
12942,14195,0,Chamber Concert (Private),"Manhattan, NY",The Stanley H. Kaplan Penthouse,2017-04-18,19.0,0.0,Members of NY Philharmonic,2016-17

In [19]:
# Combine works_and_soloists and nyp into a single dataframe.
# You need to figure out the common column shared between the two dataframes
nyp_merged = works_and_soloists.merge(nyp, how='inner')
nyp_merged

,ProgramID,WorkID,ComposerName,WorkTitle,Movement,ConductorName,SoloistName,SoloistInstrument,SoloistRole,ConcertID,EventType,Location,Venue,Date,Hour,Minute,Orchestra,Season
0,1645,8033,"Saint-Saens [Saint-SaÃ«ns], Camille","DELUGE, LE, OP. 45",Prelude,"Mitropoulos, Dimitri","Corigliano, John, Sr.",Violin,A,0,Subscription Season,"Manhattan, NY",Carnegie Hall,1951-04-05,20.0,45.0,New York Philharmonic,1950-51
1,1645,8033,"Saint-Saens [Saint-SaÃ«ns], Camille","DELUGE, LE, OP. 45",Prelude,"Mitropoulos, Dimitri","Corigliano, John, Sr.",Violin,A,1,Subscription Season,"Manhattan, NY",Carnegie Hall,1951-04-06,14.0,30.0,New York Philharmonic,1950-51
2,1649,8033,"Saint-Saens [Saint-SaÃ«ns], Camille","DELUGE, LE, OP. 45",Prelude,"Mitropoulos, Dimitri","Corigliano, John, Sr.",Violin,A,0,Subscription Season,"Manhattan, NY",Carnegie Hall,1951-04-07,20.0,45.0,New York Philharmonic,1950-51
3,1654,8033,"Saint-Saens [Saint-SaÃ«ns], Camille","DELUGE, LE, OP. 45",Prelude,"Mitropoulos, Dimitri","Corigliano, John, Sr.",Violin,A,0,Subscription Season,"Manhattan, NY",Carnegie Hall,1951-04-08,14.0,45.0,New York Philharmonic,1950-51
4,11036,50373,"Verdi, Giuseppe",AIDA,Triumphal March (and Ballet) (Act II),"Antonini, Alfredo",The Collegiate Chorale,Chorus,S,0,Stadium Concert,"Manhattan, NY",Lewisohn Stadium,1951-07-21,20.0,30.0,Stadium-NY Philharmonic,1950-51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27720,10342,8708,"Tchaikovsky, Pyotr Ilyich","NUTCRACKER, THE: SELECTIONS (ARR. BRASS) (ARR....",The Fiery Trepak,"Holtan, Timothy J.","Alessi, Joseph",Trombone,A,0,Holiday Brass,"Manhattan, NY",Avery Fisher Hall,2009-12-13,15.0,0.0,Musicians from the New York Philharmonic,2009-10
27721,10342,8708,"Tchaikovsky, Pyotr Ilyich","NUTCRACKER, THE: SELECTIONS (ARR. BRASS) (ARR....",The Fiery Trepak,"Holtan, Timothy J.","Baer, Alan",Tuba,A,0,Holiday Brass,"Manhattan, NY",Avery Fisher Hall,2009-12-13,15.0,0.0,Musicians from the New York Philharmonic,2009-10
27722,10342,8708,"Tchaikovsky, Pyotr Ilyich","NUTCRACKER, THE: SELECTIONS (ARR. BRASS) (ARR....",The Fiery Trepak,"Holtan, Timothy J.","United States Military Academy Band, Brass and...",Band,S,0,Holiday Brass,"Manhattan, NY",Avery Fisher Hall,2009-12-13,15.0,0.0,Musicians from the New York Philharmonic,2009-10
27723,10342,8708,"Tchaikovsky, Pyotr Ilyich","NUTCRACKER, THE: SELECTIONS (ARR. BRASS) (ARR....",The Fiery Trepak,"Holtan, Timothy J.","United States Military Academy Band, Hellcats ...",Ensemble,S,0,Holiday Brass,"Manhattan, NY",Avery Fisher Hall,2009-12-13,15.0,0.0,Musicians from the New York Philharmonic,2009-10
27724,8220,7836,"Handel, George Frideric","MESSIAH: A SOULFUL CELEBRATION (ARR. Warren, M...","""Hallelujah!""","Turnbull, Walter J.","Boys Choir of Harlem, The",Boys Choir,S,0,Special,"Manhattan, NY",Avery Fisher Hall,1997-12-20,15.0,0.0,Members of NY Philharmonic,1997-98

In [20]:
assert nyp_merged.shape == (27725, 18)
assert set(nyp_merged.columns) == set(
    [
       'ProgramID', 'ConcertID', 'EventType', 'Location', 'Venue', 'Date',
       'Hour', 'Minute', 'Orchestra', 'Season', 'WorkID', 'ComposerName', 'WorkTitle',
       'Movement', 'ConductorName', 'SoloistName', 'SoloistInstrument',
       'SoloistRole'
    ]
)

## 7 Final transformations (graded)

Now, we perform the train-test split.

We also perform some final transformations on both datasets:

* Include some date features: Year, Month, Day and Weekday
* Create a new feature, ComposerLastName from ComposerName column. 
* Filter out rows with a location that appears less than 10 times in the DataFrame.
* Drop ProgramID, ConcertID, WorkID, Date and Season

In [21]:
df = nyp_merged.copy()

df[['ComposerLastName','ComposerFirsttName']] = df.ConductorName.str.split(',', n=1,expand = True)

In [22]:
def append_date_features(df):
    df = df.copy()
    df= (df.assign( Year = pd.to_datetime(df['Date']).dt.year)
        .assign( Month = pd.to_datetime(df['Date']).dt.month)
        .assign( Day = pd.to_datetime(df['Date']).dt.day)
        .assign( Weekday = pd.to_datetime(df['Date']).dt.weekday));
    
    
    
    return df

def append_composer_last_name(df):
    df =df.copy()
    
    df[['ComposerLastName','ComposerFirstName']] = df.ComposerName.str.split(',', n=1,expand = True)
    df =df.drop(columns= 'ComposerFirstName')
          
    return df


def preprocess_data(df):
    # You should follow these exact steps:
    #   1 - Include some date features: Year, Month, Hour, Minute, Day and Weekday
    #   2 - Create a new feature, ComposerLastName from ComposerName column. 
    #   3 - Filter out rows that have a location that appear is less than 10 times in the DataFrame.
    #   4 - Drop ProgramID, ConcertID, WorkID, Season, Date, Time
    #   
    df = df.copy()
    df = append_composer_last_name(df)
    
    df=(df.pipe(append_date_features)
           .groupby('Location').filter(lambda x: x.shape[0] > 9)
           .drop(columns=['ProgramID','ConcertID','WorkID','Season','Date'])
       );
    
    
    
    return df


nyp_preprocessed = preprocess_data(nyp_merged)
nyp_preprocessed

,ComposerName,WorkTitle,Movement,ConductorName,SoloistName,SoloistInstrument,SoloistRole,EventType,Location,Venue,Hour,Minute,Orchestra,ComposerLastName,Year,Month,Day,Weekday
0,"Saint-Saens [Saint-SaÃ«ns], Camille","DELUGE, LE, OP. 45",Prelude,"Mitropoulos, Dimitri","Corigliano, John, Sr.",Violin,A,Subscription Season,"Manhattan, NY",Carnegie Hall,20.0,45.0,New York Philharmonic,Saint-Saens [Saint-SaÃ«ns],1951,4,5,3
1,"Saint-Saens [Saint-SaÃ«ns], Camille","DELUGE, LE, OP. 45",Prelude,"Mitropoulos, Dimitri","Corigliano, John, Sr.",Violin,A,Subscription Season,"Manhattan, NY",Carnegie Hall,14.0,30.0,New York Philharmonic,Saint-Saens [Saint-SaÃ«ns],1951,4,6,4
2,"Saint-Saens [Saint-SaÃ«ns], Camille","DELUGE, LE, OP. 45",Prelude,"Mitropoulos, Dimitri","Corigliano, John, Sr.",Violin,A,Subscription Season,"Manhattan, NY",Carnegie Hall,20.0,45.0,New York Philharmonic,Saint-Saens [Saint-SaÃ«ns],1951,4,7,5
3,"Saint-Saens [Saint-SaÃ«ns], Camille","DELUGE, LE, OP. 45",Prelude,"Mitropoulos, Dimitri","Corigliano, John, Sr.",Violin,A,Subscription Season,"Manhattan, NY",Carnegie Hall,14.0,45.0,New York Philharmonic,Saint-Saens [Saint-SaÃ«ns],1951,4,8,6
4,"Verdi, Giuseppe",AIDA,Triumphal March (and Ballet) (Act II),"Antonini, Alfredo",The Collegiate Chorale,Chorus,S,Stadium Concert,"Manhattan, NY",Lewisohn Stadium,20.0,30.0,Stadium-NY Philharmonic,Verdi,1951,7,21,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27720,"Tchaikovsky, Pyotr Ilyich","NUTCRACKER, THE: SELECTIONS (ARR. BRASS) (ARR....",The Fiery Trepak,"Holtan, Timothy J.","Alessi, Joseph",Trombone,A,Holiday Brass,"Manhattan, NY",Avery Fisher Hall,15.0,0.0,Musicians from the New York Philharmonic,Tchaikovsky,2009,12,13,6
27721,"Tchaikovsky, Pyotr Ilyich","NUTCRACKER, THE: SELECTIONS (ARR. BRASS) (ARR....",The Fiery Trepak,"Holtan, Timothy J.","Baer, Alan",Tuba,A,Holiday Brass,"Manhattan, NY",Avery Fisher Hall,15.0,0.0,Musicians from the New York Philharmonic,Tchaikovsky,2009,12,13,6
27722,"Tchaikovsky, Pyotr Ilyich","NUTCRACKER, THE: SELECTIONS (ARR. BRASS) (ARR....",The Fiery Trepak,"Holtan, Timothy J.","United States Military Academy Band, Brass and...",Band,S,Holiday Brass,"Manhattan, NY",Avery Fisher Hall,15.0,0.0,Musicians from the New York Philharmonic,Tchaikovsky,2009,12,13,6
27723,"Tchaikovsky, Pyotr Ilyich","NUTCRACKER, THE: SELECTIONS (ARR. BRASS) (ARR....",The Fiery Trepak,"Holtan, Timothy J.","United States Military Academy Band, Hellcats ...",Ensemble,S,Holiday Brass,"Manhattan, NY",Avery Fisher Hall,15.0,0.0,Musicians from the New York Philharmonic,Tchaikovsky,2009,12,13,6
27724,"Handel, George Frideric","MESSIAH: A SOULFUL CELEBRATION (ARR. Warren, M...","""Hallelujah!""","Turnbull, Walter J.","Boys Choir of Harlem, The",Boys Choir,S,Special,"Manhattan, NY",Avery Fisher Hall,15.0,0.0,Members of NY Philharmonic,Handel,1997,12,20,5

In [23]:
assert nyp_preprocessed.shape == (27571, 18)
assert set(nyp_preprocessed.columns) == {
       'EventType', 'Location', 'Venue', 'Orchestra',
       'ComposerName', 'WorkTitle', 'Movement', 'ConductorName', 'SoloistName',
       'SoloistInstrument', 'SoloistRole', 'Year', 'Month', 'Day', 'Hour',
       'Minute', 'Weekday', 'ComposerLastName'
}
assert nyp_preprocessed.groupby('Location').size().min() == 10
assert nyp_preprocessed.ComposerLastName.value_counts().loc['Mozart'] == 512
assert nyp_preprocessed.ComposerLastName.value_counts().loc['Gershwin'] == 1673
assert nyp_preprocessed.ComposerLastName.nunique() == 236

# The house prices dataset

A dataset containing several characteristics of several houses and their selling price 

* LotFrontage: Linear feet of street connected to property
* LotArea: Lot size in square feet
* OverallQual: Rates the overall material and finish of the house
       10  Very Excellent
       9	Excellent
       8	Very Good
       7	Good
       6	Above Average
       5	Average
       4	Below Average
       3	Fair
       2	Poor
       1	Very Poor
* OverallCond: Rates the overall condition of the house

       10	Very Excellent
       9	Excellent
       8	Very Good
       7	Good
       6	Above Average	
       5	Average
       4	Below Average	
       3	Fair
       2	Poor
       1	Very Poor
* MasVnrArea: Masonry veneer area in square feet
* BsmtFinSF1: Type 1 finished square feet
* BsmtUnfSF: Unfinished square feet of basement area
* TotalBsmtSF: Total square feet of basement area
* 1stFlrSF: First Floor square feet
* 2ndFlrSF: Second floor square feet
* LowQualFinSF: Low quality finished square feet (all floors)
* GrLivArea: Above grade (ground) living area square feet
* BsmtFullBath: Basement full bathrooms
* BsmtHalfBath: Basement half bathrooms
* FullBath: Full bathrooms above grade
* HalfBath: Half baths above grade
* BedroomAbvGr: Bedrooms above grade (does NOT include basement bedrooms)
* KitchenAbvGr: Kitchens above grade
* TotRmsAbvGrd: Total rooms above grade (does not include bathrooms)
* Fireplaces: Number of fireplaces
* GarageCars: Size of garage in car capacity
* GarageArea: Size of garage in square feet
* WoodDeckSF: Wood deck area in square feet
* OpenPorchSF: Open porch area in square feet
* EnclosedPorch: Enclosed porch area in square feet
* 3SsnPorch: Three season porch area in square feet
* ScreenPorch: Screen porch area in square feet
* PoolArea: Pool area in square feet
* MiscVal: $Value of miscellaneous feature 
* SellingDate: Date when the house was sold
* BuildingDate: Date when the house was built
* RemodAddDate: Remodel date (same as construction date if no remodeling or additions)
* SalePrice: The house price at the selling date (our target variable)

Let's read the csv and create our train-test-split

In [111]:
def house_price_dataset():
    return pd.read_csv(
    'data/housePrices.csv', 
        parse_dates=[
            'SellingDate',
            'BuildingDate',
            'RemodAddDate'
        ]
    )

dataset = house_price_dataset()
dataset_train, dataset_test = train_test_split(dataset, random_state=0)
X_train = dataset_train.drop(columns='SalePrice')
y_train = dataset_train.SalePrice
X_test = dataset_test.drop(columns='SalePrice')
y_test = dataset_test.SalePrice

In [112]:
X_train

,LotFrontage,LotArea,OverallQual,OverallCond,MasVnrArea,BsmtUnfSF,TotalBsmtSF,1stFlrSF,2ndFlrSF,LowQualFinSF,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,SellingDate,BuildingDate,RemodAddDate
489,75.0,7862,6,5,0.0,1191,1218,1218,0,0,...,0,102,0,0,0,0,0,2009-01-09,2009-01-03,2009-01-03
70,95.0,13651,7,6,1115.0,343,2223,2223,0,0,...,300,0,0,0,0,0,0,2007-01-02,1973-01-11,1973-01-11
1079,84.0,10084,7,5,196.0,1528,1552,1552,0,0,...,144,20,0,0,0,0,0,2006-01-07,2005-01-12,2006-01-05
651,60.0,9600,4,2,0.0,1095,1095,1095,679,0,...,0,0,90,0,0,0,0,2006-01-05,1900-01-09,1950-01-02
10,70.0,11200,5,5,0.0,134,1040,1040,0,0,...,0,0,0,0,0,0,0,2008-01-02,1965-01-08,1965-01-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,50.0,6000,4,7,0.0,901,901,901,0,0,...,0,0,0,0,0,0,0,2008-01-08,1954-01-09,2000-01-02
835,85.0,6970,4,5,0.0,108,1040,1120,0,0,...,168,0,0,0,0,0,400,2007-01-05,1961-01-03,1961-01-03
1216,34.0,4060,6,5,0.0,1139,1405,1337,0,0,...,144,68,0,0,0,0,0,2008-01-08,1998-01-07,1999-01-07
559,0.0,14585,6,6,85.0,331,1144,1429,0,0,...,216,110,0,0,0,0,0,2007-01-06,1960-01-05,1987-01-05
684,0.0,7162,5,7,41.0,876,876,904,0,0,...,0,0,0,0,0,0,0,2008-01-12,1966-01-02,1966-01-02

## 8 Build a DateTransformer transformer (graded)

There's a simple transformer that can be useful, from times to times, when modeling.

What we want is to build a transformer that transforms dates into timedeltas.

Usually when you have features that are Dates you compute a time delta between the feature and a given refence date.

e.g Imagine that your clients have a loyalty period that ends at a given date. When your model is doing some predictions, one of the features that you can use is the number of days until the end of the loyalty period. i.e the date when the loyalty ends minus the date when your model is running. 

In the house prices dataset, the selling date will be the reference data, since we want to predict the house price at the selling date. For instance, two houses with the exact same features can vary in prices if the construction year is different. So we should input this information and feed into the model. Then we need to convert the other dates using our transformer

Hint: Result should be integers

In [113]:
datetime_cols=['BuildingDate', 'RemodAddDate']
ref_date_col='SellingDate'

lol =  (pd.to_datetime(X_train.BuildingDate) -pd.to_datetime(X_train.SellingDate) ).dt.days
lol

489        -6
70     -12409
1079     -360
651    -38712
10     -15699
        ...
763    -19722
835    -16803
1216    -3653
559    -17168
684    -15350
Length: 1051, dtype: int64

In [114]:
class DateTransformer(BaseEstimator, TransformerMixin):
    # Implement the __init__ method.
    
    # Our DateTransformer must be able to receive two parameters: 
    # datetime_cols: a list, that contains the datetime cols that should be converted
    # ref_date_col - indicates the name of the column that should be used as reference date,
    
    def __init__(self, datetime_cols,ref_date_col):
        self.datetime_cols = datetime_cols
        self.ref_date_col = ref_date_col
        #self.ref = ref_date_col
      
        

        
    # There's no need for a fit method in this case, it does nothing.
    # We should be able to call fit without any explicit parameters.
    # Meaning: we should be able to call transformer.fit().
    def fit(self, *_):
        return self

    # Transform should transform all datetime columns into the difference in days to the reference date.
    # The reference date column should be dropped. 
    
    def transform(self, X ):
        for s in self.datetime_cols:
            X[s] = (pd.to_datetime(X[s]) - pd.to_datetime(X[ref_date_col])).dt.days
        
            
        
        return X.drop(columns = ref_date_col)

In [115]:
X_train_transformed = DateTransformer(
    datetime_cols=['BuildingDate', 'RemodAddDate'], 
    ref_date_col='SellingDate'
).fit_transform(X_train)
assert X_train_transformed.BuildingDate.min() == -49008
assert X_train_transformed.BuildingDate.max() == -1
assert 'SellingDate' not in X_train_transformed.columns
assert X_train_transformed.dtypes.BuildingDate == np.dtype('int64')
assert X_train_transformed.dtypes.RemodAddDate == np.dtype('int64')

You might be wondering why we have to implement it as a Transformer Class, and not using functions.
You'll understand the reason in the next section - so we can tie them all together in a `Pipeline`.

## 9 Building the pipeline (graded)

Finally, we want to use the two transformers together and run a linear regression on top.

We want to Convert the dates to time deltas relative to the Selling Date.

We want to scale all features to the same range, using `sklearn.preprocessing.StandardScaler()`.

We want to estimate the SellingPrice using a Liner Regression.

Standardization of datasets is a common requirement for many machine learning estimators implemented in scikit-learn; they might behave badly if the individual features do not more or less look like standard normally distributed data: Gaussian with zero mean and unit variance.

In practice we often ignore the shape of the distribution and just transform the data to center it by removing the mean value of each feature, then scale it by dividing non-constant features by their standard deviation.

For instance, many elements used in the objective function of a learning algorithm (such as the RBF kernel of Support Vector Machines or the l1 and l2 regularizers of linear models) assume that all features are centered around zero and have variance in the same order. If a feature has a variance that is orders of magnitude larger than others, it might dominate the objective function and make the estimator unable to learn from other features correctly as expected.

In [ ]:
X_train.describe()

In [ ]:
# Create a pipeline including:
#   1 - 'date_converter', DateTransformer(['BuildingDate', 'RemodAddDate'], ref_date_col='SellingDate')
#   2 - 'standard_scaler', StandardScaler() with the default parameters
#   3 - 'model', LinearRegression
# YOUR CODE HERE
raise NotImplementedError()


pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_test)

mae = mean_absolute_error(y_test, y_pred)
print('MAE: {}'.format(mae))

In [ ]:
assert type(pipeline) == Pipeline
assert type(pipeline.named_steps['date_converter']) == DateTransformer
assert type(pipeline.named_steps['robust_scaler']) == RobustScaler
assert pipeline.named_steps['date_converter'].get_params()['ref_date_col'] == 'SellingDate'
assert set(
    pipeline.named_steps['date_converter'].get_params()['datetime_cols']
) == {'BuildingDate', 'RemodAddDate'}
assert type(pipeline.named_steps['model']) == LinearRegression

## 10. Access the cofficients from the pipeline (ungraded)

Now we would want to obtain the coefficients from the model to understand features with the most predictive power.

In [ ]:
#coefs = ....
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert coefs.shape == (30,), 'Wrong number of coefficients. Did you select the features correctly?'

Exercises complete, congratulations! You are about to become a certified data wrangler.